branches:
  only:
    - master
matrix:
  include:
    - language: php
      php: 7.0
      install:
        - composer global require phpmd/phpmd
        - composer global require "squizlabs/php_codesniffer=*"
      script:
        - export PATH=~/.config/composer/vendor/bin:$PATH
        - php/lint.sh
        - php/test.sh
      after_success:
        - bash <(curl -s https://codecov.io/bash)
    - language: node_js
      node_js:
        - "7"
      script:
        - yarn global add typescript
        - cd typescript
        - yarn
        - tsc
        - ./node_modules/eslint/bin/eslint.js src/index.tsx 
        - yarn test
    - language: python
      python: 3.5
      install:
        - pip install -r python/requirements/dev.txt
      script:
        - python/lint.sh
        - env PYTHONPATH=. coverage run --source python --branch --omit python/tests -m pytest
        - coverage report -m
      after_success:
        - codecov

notifications:
  email:
    - mail@dcollins.info
    - james@unitix.com.au
